{% extends "base.html" %}

{% block title %}Books{% endblock title %}
{% block header %}Search for books{% endblock header %}
{% block content %}
  {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %}
              <p style='color: red;'>"{{ field.name|title }}" has an error:  {{ error }}</p> 
          {% endfor %}
      {% endfor %}
  {% endif %}
  <div class="form-group">
  <form action='' method='get' class="form-control">
      <table class="display responsive" width="100%">
          {{ form.as_table }}
      </table>
      {% csrf_token %}
      <input type='submit' value='Submit'>
  </form>
  </div>
  {% if query %}
    <p>You searched for: <strong>{{ query }}</strong></p>
    {% if books %}
        <p>Found {{ books|length }} book{{ books|pluralize }}.</p>
        <ul class="list-group">
            {% for book in books %}
            <li class="list-group-item">{{ book.title }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No books matched your search criteria.</p>
    {% endif %}
  {% endif %}
{% endblock content %}