* {
  font-family: 'Nunito', sans-serif;
}

.breadcrumb-item-active {
    color: #754c4c;
}
.navbar {
  background-color: #b3c4d1;
}
body {
  background-color: #ededed;
}

.sidebar-header {
  margin-top: 20px;
  color: #754c4c;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.sidebar-item {
  color: #775f5f;
}