* {
  font-family: 'Cormorant-Bold', serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #701607;
}

.breadcrumb-item-active {
    color: #d1cfca;
}
.navbar {
  background-color: #633b0a;
}
body {
  background-color: #bfc4bc;
}

.sidebar-header {
  margin-top: 20px;
  color: Brown;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.sidebar-item {
  color: blue;
}