{% extends "base.html" %}
{% load static %}

{% block title %}Simple Vue{% endblock title %}

{% block header %}Simple Vue Example{% endblock header %}

{% block loadjs %}
  {{ block.super }}
  <script src="{% static 'vue/js/vue.js' %}" type="text/javascript"></script>
{% endblock loadjs %}

{% block content %}
<div id="app-1">
  <div class="container" v-bind:title="message">
    <h3 class="jumbotron"> [[ title ]]</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <h6>Data passed into Vue from server:</h6>
      </li>
      <li v-for="count in vue_counters" class="list-group-item">
        <h6>[[ count ]]</h6>
      </li>
    </ul>
</div>
    
<script>
  var app1 = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app-1',
    data: {
      vue_counters: {{ counters }},
      title: 'Vue variable text',
      message: 'A Vue bound element.  Current time is: ' + new Date().toLocaleString()
    }
  })
</script>

{% endblock content %}