{% extends 'base.html' %}
{% load static %}

{% block title %}Polls{% endblock title %}
{% block header %}Poll Choices{% endblock header %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}" />
{% endblock styles %}

{% block content %}
  <h1 class="polls-item">{{ question.question_text }}</h1>
  {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
  {% endif %}
  <form action="{% url 'polls:vote' question.id %}" method='post'>
    {% csrf_token %}
    <ul class="list-group">
      {% for choice in question.choice_set.all %}
        <li class="list-group-item">
          <input type="radio" name="choice" id={"choice{{ forloop.counter }}" value="{{ choice.id }}"} />
          <label for="choice{{ forloop.counter }}" class="choice-item">{{ choice.choice_text }}</label>
        </li>
      {% endfor %}
    </ul>
  <input type="submit" value="Vote" />
  </form> 
{% endblock content %}
