{% extends "base.html" %}
{% load static %}

{% block title %}DRF{% endblock title %}

{% block header %}Django Rest Framework (DRF){% endblock header %}

{% block loadjs %}
  {{ block.super }}
  <script src="{% static 'vue/js/vue.js' %}" type="text/javascript"></script>
{% endblock loadjs %}

{% block content %}
<div id="app">
  <div class="container">
    <div class="row">
      <div class="col">
        <ul>
          <li><a href="{% url 'vue_test:class_based_drf' %}" class="sidebar-item">Class Based DRF</a></li>
          <ul>
            {% for item_pk in db_pk %}
              <li><a href="{% url 'vue_test:class_detail' item_pk %}" class="sidebar-item">Class Based Detail View DRF Item {{ item_pk }}</a></li>
            {% endfor item_pk %}
          </ul>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <ul>
          <li><a href="{% url 'vue_test:api-root' %}" class="side_bar_item">DRF API Root</a></li>
          <li><a href="{% url 'vue_test:FuelEffeciency-list' %}" class="sidebar-item">Fuel Effenciency Routing</a></li>
          <table class=table>
            <tr>
              <th>Item</th>
              <th>html view</th>
              <th>xml view</th>
              <th>json view</th>
            </tr>
            {% for item_pk in db_pk %}
              <tr>
                <td>{{ item_pk }}</td>
                <td><a href="{% url 'vue_test:FuelEffeciency-detail' item_pk %}" class="sidebar-item">html</a></td>
                <td><a href="{% url 'vue_test:FuelEffeciency-detail' item_pk 'xml' %}" class="sidebar-item">xml</a></td>
                <td><a href="{% url 'vue_test:FuelEffeciency-detail' item_pk 'json' %}" class="sidebar-item">json</a></td>
              </tr>
            {% endfor item_pk %}  
          </table>
        </ul>
        <li><a href="../api-auth/login/" class="sidebar-item">Authentication via DRF</a></li>
      </div>
    </div>
  </div>
</div>

{% endblock content %}