{% extends "base.html" %}
{% load static %}

{% block title %}Let's get started{% endblock title %}

{% block content %}
    <h1>If you upload a raw Bookstore spreadsheet, I will return a cleaned up version.</h1>
    {% if errors %}
        {% for i in errors %}
            <p>{{ i }}</p> 
        {% endfor %}
    {% endif %}
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form }}
        <button type="submit">Submit</button>
    </form>
{% endblock content %}
