{% extends "base.html" %}
{% load static %}

{% block title %}eTextbook{% endblock title %}

{% block header %}Upload Page{% endblock header %}

{% block content %}
    <h3>Upload a malformed Bookstore spreadsheet, I will return a cleaned up version.</h3>
    {{ form.errors }}
    {{ form.non_field_errors }}
    <div class="form-group">
        <form method="post" enctype='multipart/form-data' class="form-control">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock content %}
