{% extends 'base.html' %}
{% load static %}

{% block title %}Ajax Polls{% endblock title %}
{% block header %}Polls with Ajax{% endblock header %}

{% block loadjs %}
  {{ block.super }}
  <script src="{% static 'ajax_polls/js/jquery-3.3.1.min.js' %}" type="text/javascript"></script>
{% endblock loadjs %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'ajax_polls/css/style.css' %}" />
{% endblock styles %}

{% block content %}
  <nav aria-label='breadcrumb'>
    <ol class='breadcrumb'>
      <li class='breadcrumb-item active' aria-current='page'>Poll Index</li>
    </ol>
  </nav> 
  <div>
    {% if latest_question_list %}
      <ul class="list-group">
        {% for question in latest_question_list %}
          <li class="list-group-item">
            <div class="holder" ajax-function-url="{% url 'ajax_polls:ajax_polls' %}">
              <a name="{{ question.id }}" class="ajax-polls-item">{{ question.question_text }}</a>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="empty">No polls are available.</p>
    {% endif %}
  </div>
{% endblock content %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'ajax_polls/js/ajax_poll_update.js' %}" type="text/javascript"></script>
{% endblock js %}