{% extends 'base.html' %}
{% load static %}

{% block title %}Ajax Polls{% endblock title %}
{% block header %}Ajax Polls{% endblock header %}

{% block loadjs %}
    {{ block.super }}
    <script src="{% static 'ajax_polls/js/jquery-3.3.1.min.js' %}" type="text/javascript"></script>
{% endblock loadjs %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'ajax_polls/css/style.css' %}" />
{% endblock styles %}

{% block content %}
  <div>
    {% if latest_question_list %}
      <ul class="list-group">
        {% for question in latest_question_list %}
          <li class="list-group-item">
            <a name="{{ question.id }}" class="ajax-polls-item">{{ question.question_text }}</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="empty">No polls are available.</p>
    {% endif %}
  </div>
{% endblock content %}

{% block js %}
<script type="text/javascript">
  var pollsItemList = document.getElementsByClassName("ajax-polls-item");
  var loadedSet = new Set();
  listenerAdd = function (element) {
    element.addEventListener('click', function() {
      if (loadedSet.has(element)) {
        removeChildren(element);
        loadedSet.delete(element);
        return;
      }
      else {
        addChidren(element);


      }
    })
  }
  addChidren = function(element) {
    var whole_url = "{% url 'ajax_polls:ajax_polls' %}";
    $.ajax({
      url: whole_url,
      method: 'GET',
      data: {'question_pk': element['name'], },
      success: function(response) {
        console.log(response);
        addChild(element, response);
        loadedSet.add(element);
        return true;
      }
    }) 
  }
  addChild = function (element, response) {
    var newList = document.createElement("UL");
    element.appendChild(newList);
    for (var key in response) {
      if (response.hasOwnProperty(key)) {
        var newListItem = document.createElement("li");
        newListItem.setAttribute('class', 'list-group-item');
        newList.appendChild(newListItem);
        var newListRadio = document.createElement('input');
        newListRadio.setAttribute('type', 'radio');
        newListRadio.setAttribute('name', 'choice');
        newListRadio.setAttribute('id', response[key]['choice_pk']);
        newListRadio.setAttribute('value', response[key]['choice_pk']);
        newListItem.appendChild(newListRadio);
        var newListTag = document.createElement("label");
        newListTag.setAttribute('for', response[key]['choice_pk']);
        newListTag.setAttribute('class', 'choice-item');
        newListTag.textContent = response[key]['choice_text'];
        newListItem.appendChild(newListTag);
      }
    }
  }
  removeChildren = function(element) {
    element.children[0].remove();

  }
  for (i = 0; i < pollsItemList.length; i++) {
    listenerAdd(pollsItemList[i]);
    console.log(pollsItemList[i]);
  }
</script>
{% endblock js %}