<!DOCTYPE html>
<html lang='en'>
{% load static %}

  <head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      {% block title %}Base Title{% endblock title %}
    </title>

    {% block styles %}
      <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{% static 'site_core/css/style.css' %}" />
      <link rel="icon" href="{% static 'site_core/favicon.png' %}" sizes="48x48" />
    {% endblock styles %}

    {% block loadjs %}
    {% endblock loadjs %}

  </head>

{% include "header.html" %}

  <div class="container-fluid" id="mainpage">
    <div class="row no-gutters">
      {% include "sidebar.html" %}    

      <div class="col" id="mainbox">
        {% block content %}
          <p>Base Block Content</p>
        {% endblock content %}
        {% block description %}
          {% for paragraph in description %}
            <p class="text-muted">{{ paragraph|safe }}</p>
          {% endfor paragraph %}
        {% endblock description %}
      </div>

    </div>
  </div>

{% block js %}
{% endblock js %}

</html>
