<!DOCTYPE html>
<html>
{% load static %}

  <head>
    <title>
      {% block title %}Base Title{% endblock title %}
    </title>

    {% block styles %}
      <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'site_core/css/style.css' %}" />
      <link rel="icon" href="{% static 'site_core/favicon.png' %}" sizes="48x48" />

    {% endblock styles %}

    {% block loadjs %}
    {% endblock loadjs %}

  </head>

  <div id="navbar" class="center navbar navbar-default navbar-color container-fluid no-gutters">
        <div class="col-12 col-xl-2 col-lg-2 col-md-3 col-sm-4"></div>
        <div class="col">
          <h1 class="breadcrumb-item-active text-left">{% block header %}Base Header{% endblock header %}</h1>
        </div>
        <div class="col-auto">
          {% if user.is_authenticated %}
            <a href="/accounts/logout/" class="btn btn-info btn-sm" role="button">Logout {{ user.username }}</a>
          {% else %}
            <a href="/accounts/login/" class="btn btn-info btn-sm" role="button">Login</a>
          {% endif %}
        </div>
  </div>

  <div class="container-fluid" id="mainpage">
    <div class="row no-gutters">
      <div class="col-12 col-xl-2 col-lg-2 col-md-3 col-sm-4" id="sidebar">
        {% block sidebar %}
        <div class="sidebar-header">
          <h3>Links</h3>
        </div>
        <ul class="sidebar-nav">
          <li ><a href="\" class="sidebar-item">Base Template</a></li>
          <li><a href="{% url 'current_date' %}" class="sidebar-item">Current Time</a></li>
          <li><a href="{% url 'polls:index' %}" class="sidebar-item">Take a Poll</a></li>
          <li><a href="{% url 'books:search' %}" class="sidebar-item">Search for a Book</a></li>
          <li><a href="{% url 'etextbook:upload' %}" class="sidebar-item">Repair eTextbook csv</a></li>
          <li><a href="{% url 'contact:contact' %}" class="sidebar-item">Contact Us</a></li>
          <li><a href="{% url 'ajax_polls:index' %}" class="sidebar-item">Polls w Ajax</a></li>
          <li><a href="{% url 'notegrid:notegrid' %}" class="sidebar-item">NoteGrid</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'admin:index' %}" class="sidebar-item">Admin Panel</a></li>
          {% endif %}
        </ul>
        {% endblock sidebar %}
      </div>

      <div class="col" id="mainbox">
        {% block content %}
          <p>Base Block Content</p>
        {% endblock content %}
      </div>
    </div>
  </div>

{% block js %}
{% endblock js %}

</html>
